@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Notes App</h1>
</div>
<div>
        <p>This is an application that demonstrates the following features:</p>
        <ol>
            <li>One </li>
            <li>Two</li>
            <li>Three </li>
            <li>Four </li>
            <li>Five </li>
        </ol>
</div>